<div class="bg-off-white pv4">
	<div class="ph3 mw7 center">

		<div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
			{{ range first 4 (where .Data.Pages "Type" "post") }}
				<div class="ph1-ns w-100-ns flex">
					{{ .Render "li" }}
				</div>
			{{ end }}
		</div>
	

		<div class="w-100 flex-ns mhn1-ns flex-wrap mb3" >
		    <!-- <a class="twitter-timeline" 
			href="https://twitter.com/tino_rabe?ref_src=twsrc%5Etfw">Tweets by tino_rabe</a> 
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
			
			<a class="twitter-timeline"
 			href="https://twitter.com/tino_rabe?ref_src=twsrc%5Etfw"
  			data-tweet-limit="5">
			Tweets by @tino_rabe
			</a>
			
		</div>

		<div class="tc">
			<a href="/post" class="btn raise">Read more</a>
		</div>

	</div>
</div>
